@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .circle-radial-gradient {
    -webkit-mask-image: radial-gradient(circle, rgba(96, 88, 204, 1) 0%, rgba(96, 88, 204, 0) 75%);
    mask-image: radial-gradient(circle, rgba(96, 88, 204, 1) 0%, rgba(96, 88, 204, 0) 75%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  .ellipse-radial-gradient {
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(96, 88, 204, 1) 0%, rgba(96, 88, 204, 0.15) 60%, rgba(96, 88, 204, 0) 80%);
    mask-image: radial-gradient(ellipse at center, rgba(96, 88, 204, 1) 0%, rgba(96, 88, 204, 0.15) 60%, rgba(96, 88, 204, 0) 80%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
}